.header-component {
  background: linear-gradient(to right, rgba(215,215,215,1) 0%,rgba(250,250,250,1) 100%);
  /*background: linear-gradient(to right, rgba(255,202,63,1) 0%,rgba(255,233,178,1) 100%);*/
  margin: 0;
  padding: 0;

  h1 {
    margin: 0;
    padding: 14px 20px;
    color: #bbb;
    opacity: .8;
    cursor: pointer;
  }

  span {
    color: #fff;
  }
}