svg {
  max-width: 959px;
  display: block;
  margin: 34px auto;
}

path, circle {
  cursor: pointer;
  fill: #b6dcae;
  stroke: #fff;
  stroke-width: 1;
  transition: fill .3s ease-in-out;
}

circle {
  stroke-width: 2.5;
  stroke: #ed9fa2;
}

path:hover, circle:hover {
  fill: #d3e9ce;
}

text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  fill: #8a5300;
  transition: opacity .3s ease-in-out;
}

.key-text {
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  fill: #fff;
}

.title-text {
  opacity: 1;
  font-weight: 500;
  font-size: 22px;
  fill: #2f5c2d;
}

.someClass {
  fill: red;
}

@media screen and (max-width: 959px) {
  svg {
    width: 100%;
  }
}
