.simple-chart {
  width: 959px;
  display: block;
  margin: auto;
}

.state-header {
  display: flex;
  width: 959px;
  align-items: center;
  margin: 50px auto 0;
}

.state-flag {
  width: 100px;
}

.state-meta-data {
  width: 959px;
  margin: auto;
  border-bottom: 5px solid #eee;
}

h1 {
  color: #777;
  margin-left: 20px;
}

h3, h6 {
  color: #777;
}



@media screen and (max-width: 959px) {
  .simple-chart {
    width: 100vw;
  }
}